body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.playlist-header{
  display:flex
}
.playlist-header div{
  margin-right: 1rem;
  display: flex
}
table, th, td {
  border: 1px solid;
}
td {
  padding:8px
}
td img{
  width:5rem;
  height:auto
}
